# Dependencies
node_modules/

# Logs
*.log

# Environment Variables
.env
.env.*

# Build Output
dist/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Misc
npm-debug.log*